@font-face {
    font-family: dosisLight;
    src: url('./fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: dosisHeavy;
    src: url('./fonts/Dosis-ExtraBold.ttf');
}

@font-face {
    font-family: abel;
    src: url('./fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: libreLight;
    src: url('./fonts/LibreFranklin-Regular.ttf');
}

@font-face {
    font-family: libreHeavy;
    src: url('./fonts/LibreFranklin-ExtraBold.ttf');
}