@font-face {
    font-family: mulishLight;
    src: url('./fonts/Mulish-Light.ttf');
}

@font-face {
    font-family: mulishHeavy;
    src: url('./fonts/Mulish-Medium.ttf');
}

@font-face {
    font-family: dosisLight;
    src: url('./fonts/Dosis-Light.ttf');
}

@font-face {
    font-family: dosisHeavy;
    src: url('./fonts/Dosis-SemiBold.ttf');
}

@font-face {
    font-family: juraLight;
    src: url('./fonts/Jura-Medium.ttf');
}

@font-face {
    font-family: juraHeavy;
    src: url('./fonts/Jura-SemiBold.ttf');
}

@font-face {
    font-family: abel;
    src: url('./fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: eurostileLight;
    src: url('./fonts/Eurostile-Light.ttf');
}

@font-face {
    font-family: eurostileHeavy;
    src: url('./fonts/Eurostile-Heavy.ttf');
}

@font-face {
    font-family: michroma;
    src: url('./fonts/Michroma-Regular.ttf');
}

@font-face {
    font-family: orbitronLight;
    src: url('./fonts/Orbitron-Light.ttf');
}

@font-face {
    font-family: orbitronHeavy;
    src: url('./fonts/Orbitron-Bold.ttf');
}

@font-face {
    font-family: titilliumLight;
    src: url('./fonts/Titillium-Light.ttf');
}

@font-face {
    font-family: titilliumHeavy;
    src: url('./fonts/Titillium-Bold.ttf');
}

@font-face {
    font-family: whiteRabbit;
    src: url('./fonts/White-Rabbit.ttf');
}

@font-face {
    font-family: firaCodeLight;
    src: url('./fonts/FiraCode-Light.ttf');
}

@font-face {
    font-family: firaCodeHeavy;
    src: url('./fonts/FiraCode-Bold.ttf');
}